{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4 text-center">Créer une critique</h1>
    
    <!-- Section Livre / Article -->
    <div class="mb-8">
        <form method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-bold mb-2">Livre / Article</h2>
            {{ ticket_form.non_field_errors }}
            {% csrf_token %}
            <div class="mb-4">
                <label for="title" class="block text-sm font-medium text-gray-700">Titre</label>
                <input type="text" name="title" id="title" value="{{ ticket_form.title.value }}" class="form-input w-full">
                {% if ticket_form.title.errors %}
                    <p class="text-red-500 text-xs italic">{{ ticket_form.title.errors }}</p>
                {% endif %}
            </div>
            <div class="mb-4">
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea name="description" id="description" rows="4" class="form-textarea w-full resize-none">{{ ticket_form.description.value }}</textarea>
                {% if ticket_form.description.errors %}
                    <p class="text-red-500 text-xs italic">{{ ticket_form.description.errors }}</p>
                {% endif %}
            </div>
            <div class="mb-4">
                <label for="image" class="bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800">
                    <span>Télécharger fichier</span>
                    <input type="file" name="image" id="image" class="sr-only">
                </label>
                {% if ticket_form.image.errors %}
                    <p class="text-red-500 text-xs italic">{{ ticket_form.image.errors }}</p>
                {% endif %}
            </div>
        </form>
    </div>

    <!-- Section Critique -->
    <div class="mb-8">
        <form method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-bold mb-2">Critique</h2>
            {{ review_form.non_field_errors }}
            {% csrf_token %}
            <div class="mb-4">
                <label for="review_title" class="block text-sm font-medium text-gray-700">Titre</label>
                <input type="text" name="review_title" id="review_title" value="{{ review_form.review_title.value }}" class="form-input w-full">
                {% if review_form.review_title.errors %}
                    <p class="text-red-500 text-xs italic">{{ review_form.review_title.errors }}</p>
                {% endif %}
            </div>    
            <!-- Étoiles pour le score -->
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700">Note</label>
                <div class="flex items-center mt-2 relative flex-row-reverse">
                    <input type="hidden" id="score" name="score" value="0">
                    <svg class="star text-gray-600 cursor-pointer peer peer-hover:text-yellow-400 hover:text-yellow-400 duration-100" width="30" height="30" data-value="1" data-tooltip="je n'ai pas aimé" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="{% static 'images/icons.svg' %}#icon-star"></use>
                    </svg>
                    <svg class="star text-gray-600 cursor-pointer peer peer-hover:text-yellow-400 hover:text-yellow-400 duration-100" width="30" height="30" data-value="2" data-tooltip="boff..." xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="{% static 'images/icons.svg' %}#icon-star"></use>
                    </svg>
                    <svg class="star text-gray-600 cursor-pointer peer peer-hover:text-yellow-400 hover:text-yellow-400 duration-100" width="30" height="30" data-value="3" data-tooltip="pas mal" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="{% static 'images/icons.svg' %}#icon-star"></use>
                    </svg>
                    <svg class="star text-gray-600 cursor-pointer peer peer-hover:text-yellow-400 hover:text-yellow-400 duration-100" width="30" height="30" data-value="4" data-tooltip="sympa !" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="{% static 'images/icons.svg' %}#icon-star"></use>
                    </svg>
                    <svg class="star text-gray-600 cursor-pointer peer peer-hover:text-yellow-400 hover:text-yellow-400 duration-100" width="30" height="30" data-value="5" data-tooltip="j'adore !!" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="{% static 'images/icons.svg' %}#icon-star"></use>
                    </svg>
                    <!-- Tooltip -->
                    <div class="tooltip absolute bottom-0 left-0 p-2 bg-gray-800 text-white text-xs rounded mt-2 opacity-0 transition-opacity duration-300 pointer-events-none">Tooltip</div>
                </div>
            </div>
            <div class="mb-4">
                <label for="review_body" class="block text-sm font-medium text-gray-700">Commentaire</label>
                <textarea name="review_body" id="review_body" rows="6" class="form-textarea w-full resize-none">{{ review_form.review_body.value }}</textarea>
                {% if review_form.review_body.errors %}
                    <p class="text-red-500 text-xs italic">{{ review_form.review_body.errors }}</p>
                {% endif %}
            </div>
        </form>
    </div>

    <div class="flex justify-end">
        <button type="submit" class="bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800">Envoyer</button>
    </div>
</div>

{% endblock %}
