{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4 text-center">Créer un ticket</h1>
    
    <!-- Section Livre / Article -->
    <div class="mb-8">
        <form method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md">
            {{ form.non_field_errors }}
            {% csrf_token %}
            <div class="mb-4">
                <label for="title" class="block text-sm font-medium text-gray-700">Titre</label>
                <input type="text" name="title" id="title" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" class="form-input w-full border rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                {% if form.title.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.title.errors }}</p>
                {% endif %}
            </div>
            <div class="mb-4">
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea name="description" id="description" rows="4" class="form-input w-full border rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                {% if form.description.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.description.errors }}</p>
                {% endif %}
            </div>
            <div class="mb-4">
                <label for="image" class="block text-sm font-medium text-gray-700">Image</label>
                <div class="flex items-center">
                    <label for="image-upload" class="bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800 cursor-pointer">
                        <span>Télécharger fichier</span>
                    </label>
                    <div class="ml-3">
                        <span id="image-name" class="text-sm text-gray-600"></span>
                    </div>
                    <input type="file" name="image" id="image-upload" class="sr-only" onchange="displayFileName()" accept="image/jpeg, image/png, image/gif, image/webp">
                </div>
                {% if form.image.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.image.errors }}</p>
                {% endif %}
            </div>

            <div class="flex justify-end">
                <button type="submit" class="bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800">Envoyer</button>
            </div>
        </form>
    </div>
</div>

<script>
    function displayFileName() {
        const input = document.getElementById('image-upload');
        const fileName = input.files[0].name;
        document.getElementById('image-name').textContent = fileName;
    }
</script>
{% endblock %}
