{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4 text-center">Créer une critique</h1>
    <h2 class="text-base mb-4">Vous êtes en train de poster en réponse à :</h2>
    <!-- Affichage du ticket lié -->
    <div class="mb-8">
        {% comment %} {% include 'ticket/ticket_model.html' with ticket=ticket %} {% endcomment %}
        {% comment %} A refacto pour intégrer le template {% endcomment %}
        <div class="bg-white p-6 rounded-lg shadow-md mb-4">
            {% if ticket.user == request.user %}
                <p>Vous avez publié un ticket</p>
            {% else %}
                <p>{{ ticket.user.nickname }} a demandé une critique</p>
            {% endif %}
            <p class="text-right">{{ ticket.time_created|date:"H:i, j F Y" }}</p>
            <h2 class="font-semibold">{{ ticket.title }}</h2>
        
            <p class="mt-2">{{ ticket.description }}</p>
            <!-- TODO : ajouter un bouton voir plus si la description est longue -->
            {% if ticket.image %}
                <img class="mt-4" src="{{ ticket.image.url }}" alt="Image du ticket">
            {% endif %}
 
    </div>
    <!-- Affichage des champs de la review -->
    <div class="mb-8">
        <form method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md">
            {% csrf_token %}
            
            <h2 class="text-xl font-bold mb-2">Critique</h2>
            {{ review_form.non_field_errors }}

            <div class="mb-4">
                <label for="id_headline" class="block text-sm font-medium text-gray-700 mb-2">Titre</label>
                <input type="text" name="headline" id="id_headline" value="{{ review_form.headline.value|default_if_none:"" }}" class="form-input w-full border rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                {% for error in review_form.headline.errors %}
                <p class="text-red-500 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <label class="block text-sm font-medium text-gray-700 mb-2">Note</label>
            <div class="flex items-center space-x-1.5">
                {% for i in "12345" %}
                    <input type="radio" id="star{{ i }}" class="sr-only" name="rating" value="{{ i }}" {% if review_form.rating.value == i|add:0 %}checked{% endif %}>
                    <label for="star{{ i }}" class="cursor-pointer inline-flex items-center transition-transform transform hover:scale-125">
                        <svg class="w-6 h-6 fill-current stroke-current stroke-2 transition-colors" viewBox="0 0 24 24">
                            <use xlink:href="{% static 'images/icons.svg' %}#icon-star"></use>
                        </svg>
                    </label>
                    <div id="tooltip-star{{ i }}" class="absolute z-10 hidden opacity-0 px-3 py-2 text-sm font-medium text-black bg-stone-200 rounded-lg shadow-md tooltip dark:bg-gray-700">
                        {% if i == "1" %}Je n'aime pas{% elif i == "2" %}Boff...{% elif i == "3" %}Pas mal{% elif i == "4" %}Sympa !{% elif i == "5" %}J'adore !!{% endif %}
                    </div>
                {% endfor %}
                {% for error in review_form.rating.errors %}
                    <p class="text-red-500 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mb-4">
                <label for="id_body" class="block text-sm font-medium text-gray-700 mb-2 mt-2">Commentaire</label>
                <textarea name="body" id="id_body" rows="4" class="form-input w-full border rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{ review_form.body.value|default_if_none:"" }}</textarea>
                {% for error in review_form.body.errors %}
                <p class="text-red-500 text-sm">{{ error }}</p>
                {% endfor %}
            </div> 

            <div class="flex justify-end">
                <button type="submit" class="bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800">Envoyer</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
