{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto">
        <div class="flex flex-wrap -mx-2">
            <div class="w-full md:w-2/3 px-2 mb-4">
                <h1 class="text-2xl font-bold mb-6">Flux</h1>
                
                <div class="flex justify-between mb-6">
                    <a href="{% url 'demander_critique' %}" class="bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800">Demander une critique</a>
                    <a href="{% url 'creer_critique' %}" class="bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800">Créer une critique</a>
                </div>
                
                    <h2>Photos</h2>

                    {% for ticket in tickets %}
                    {% comment %} mettre une valeur par défaut quand pas de photo {% endcomment %}
                        {% comment %} <img src="{{ ticket.image.url }}">
                        <p>{{ ticket.image }}</p> {% endcomment %}
                    {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
