{% extends 'base.html' %}
{% load ticket_custom_filters %}

{% block content %}
<div class="container mx-auto">
    <div class="flex flex-wrap -mx-2">
        <div class="w-full px-2">
            <h1 class="text-2xl font-bold mb-6 text-center">Flux</h1>
            
            <div class="flex justify-between mb-6">
                <a href="{% url 'demander_critique' %}" class="bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800">Demander une critique</a>
                <a href="{% url 'create_ticket_and_review' %}" class="bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800">Créer une critique</a>
            </div>
            
            {% for post in posts %}
                {% if post.content_type == 'REVIEW' %}
                    {% include 'ticket/review_model.html' %}
                {% elif post.content_type == 'TICKET' %}
                    {% include 'ticket/ticket_model.html' %}
                {% endif %}
            {% empty %}
                <p>Aucun post publié.</p>
            {% endfor %}
            
            {% include 'ticket/pagination.html' with page_obj=posts %}
        </div>
    </div>
</div>
{% endblock %}
