<div class="bg-white p-6 rounded-lg shadow-md mb-4">
    {% if post.user == request.user %}
        <p>Vous avez publié un ticket</p>
    {% else %}
        <p>Ticket publié par {{ post.user.nickname }}</p>
    {% endif %}
    <p class="text-right">{{ post.time_created|date:"H:i, j F Y" }}</p>
    <h2 class="font-semibold">{{ post.title }}</h2>

    <p class="mt-2">{{ post.description }}</p>
    {% comment %} TODO : ajouter un bouton voir plus si la description est longue {% endcomment %}
    {% if post.image %}
        <img class="mt-4" src="{{ post.image.url }}" alt="Image du ticket">
    {% endif %}
    
    {% comment %} <p>Utilisateur :{{ ticket.user.nickname }}</p> {% endcomment %}
    {% if post.user == request.user %}
        <div class="flex justify-end">
            <a href="{% url 'edit_ticket' post.id %}" class="btn bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800 mt-4 ml-4">Modifier</a>
            {% include 'ticket/delete_ticket.html' %}
            <button onclick="openModal('{{ post.id }}')" class="btn bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800 mt-4 ml-4">Supprimer</button>
        </div>
    {% endif %}


</div>