{% load static %}
{% load ticket_custom_filters %}

<div class="bg-white p-6 rounded-lg shadow-md mb-4">
    {% if post.user == request.user %}
        <p>Vous avez publié un ticket</p>
    {% else %}
        <p>Ticket publié par {{ post.user.nickname }}</p>
    {% endif %}
    <p class="text-right">{{ post.time_created|date:"H:i, j F Y" }}</p>
    <h2 class="font-semibold">{{ post.title }}</h2>

    <p class="mt-2">{{ post.description }}</p>
    {% if post.image %}
        <img class="mt-4" src="{{ post.image.url }}" alt="Image du ticket">
    {% endif %}

    <div class="flex justify-end mt-4">
        {% if not post.reviews.exists %}
            {% if not post|user_has_reviewed:request.user %}
                <a href="{% url 'create_review' ticket_id=post.id %}" class="btn bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800 ml-4">Créer une Critique</a>
            {% endif %}
        {% endif %}
        
        {% if post.user == request.user %}
            <a href="{% url 'edit_ticket' ticket_id=post.id %}" class="btn bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800 ml-4">Modifier</a>
            <button type="button" onclick="openModal(this)" class="btn bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800 ml-4">Supprimer</button>
            
            <!-- Modal de suppression -->
            <div class="deleteModal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
                <div class="bg-white p-6 rounded-lg shadow-md w-1/3 min-w-[300px] max-w-md">
                    <h2 class="text-xl font-bold mb-4">Confirmez la suppression</h2>
                    <form method="post" action="{% url 'delete_ticket' ticket_id=post.id %}" class="w-full">
                        {% csrf_token %}
                        <input type="hidden" name="delete_ticket" value="true">
                        <div class="flex justify-end mt-4 w-full">
                            <button type="submit" class="bg-red-700 text-white py-2 px-4 rounded hover:bg-red-800 mr-2">Supprimer</button>
                            <button type="button" onclick="closeModal(this)" class="bg-gray-700 text-white py-2 px-4 rounded hover:bg-gray-800">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
</div>
